.select__categories-sec {
  padding-bottom: 40px;
}

.select__categories-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories__box-item {
  width: 23.4%;
  border-radius: 8px;
  background-color: #f8f8f8;
  margin-bottom: 30px;
  transition: all .6s;
}

.categories__box-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #111111;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24.69px;
  padding: 32px 82px 32px 39px;
}

.categories__box-item:hover {
  box-shadow: 0px 0px 48px 8px rgba(34, 60, 80, 0.15);
}
