.footer__top {
  background-color: rgba(1, 1, 1, 0.9);
}

.subscribe__box {
  width: 1129px;
  margin: 0 auto;
  padding: 11px 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__form {
  display: flex;
}

.subscribe__box-item:first-child {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe__box-title {
  color: rgb(248, 248, 248);
  font-family: Lato,sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.subscribe__box-descr {
  color: rgb(153, 153, 153);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.subscribe__box-item:last-child {
  width: 55.6%;
}

.footer__form-btn {
  border-radius: 4px;
  background-color: #ffd200;
  color: #111111;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20.8px;
  text-align: center;
  border: none;
  cursor: pointer;
  padding:15px 42px;
  outline: none;
  width: 43%;
  svg {
    display: none;
  }
}

.footer__form > input {
  width: 100%;
  padding: 0 30px;
  background-color: transparent;
  border: 1px solid rgba(224, 224, 224 ,0.3);
  border-radius: 4px 0 0 4px;
  border-right: none;
  outline: none;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.footer__form > input::placeholder {
  color: rgba(224, 224, 224, 0.5);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.footer__bottom-box {
  display: flex;
  justify-content: space-between;
}

.footer__bottom {
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 73%, rgba(255,210,0,1) 73%, rgba(255,210,0,1) 100%);
  position: relative;
}

.footer__box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 215px;
  padding: 65px 0 50px;
}

.box__left-title {
  color: rgb(248, 248, 248);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 9px;
}

.box__social-link + .box__social-link {
  margin-left: 12px;
}

.footer__box-right {
  width: 76%;
  display: flex;
  justify-content: space-around;
  padding: 65px 0 50px;
  position: relative;
}


/* .footer__box-right ::before {
  position: absolute;
  content: "";
  top: 0;
  left: 786px;
  right: -9999px;
  bottom: 0;
  background-color: #ffd200;
  z-index: -1;
} */


.right__item-title {
  color: rgb(248, 248, 248);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.right__item-title-mod {
  color: rgb(17, 17, 17);
}

.footer__list-link {
  color: rgba(248, 248, 248, 0.8);
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  z-index: 5;
}

.footer__list-item {
  margin-bottom: 11px;
}

.footer__box-right-item:last-child {
  position: relative;
}


.footer__list-item-mod .footer__list-link {
  display: flex;
  align-items: center;
}

.footer__list-link span {
  margin-right: 16px;
}

.footer__list-item-mod {
  margin-bottom: 4px;
}

.footer__list-item-mod .footer__list-link {
  color: rgb(17, 17, 17);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.footer__list-item-mod:first-child .footer__list-link {
  font-weight: 700;
  text-transform: uppercase;
}

.company__logo {
  display: flex;
  align-items: center;
  opacity: 0.8;
  color: rgb(17, 17, 17);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 50px;
}

.company__logo span {
  margin-right: 7px;
}

.footer__item-copy {
  opacity: 0.8;
  color: rgb(248, 248, 248);
  font-family: "Open Sans" , sans-serif;
  font-size: 14px;
  font-weight: 300;
}
