.header__baner-sec {
  padding:30px 0 70px;
}

.baner__box {
  display: flex;
  justify-content: space-between;
}

.baner__item1 {
  width: 49.2%;
}

.baner__slider {
  position: relative;
  border-radius: 5px;
}

.baner__slide {
  background: url(../img/header__slide-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  outline: none;
  padding: 54px 0 0 64px;
  width: 777px;
  min-height: 430px;
  position: relative;
}

.baner__sale-icon {
  margin-bottom: 15px;
}

.baner__sale-icon > span {
  padding: 3px 6px 3px 7px;
  background-color: #ffd200;
  border-radius: 6px;
  color: #111111;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
}

.baner__title {
  color: #f8f8f8;
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38.09px;
  margin-bottom: 20px;
}

.baner__subtitle {
  color: #f8f8f8;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21.95px;
  margin-bottom: 33px;
}

.baner__btn {
  border-radius: 4px;
  background-color: #ffd200;
  border: none;
  outline: none;
  cursor: pointer;
  color: #111111;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20.8px;
  text-align: left;
  padding: 15px 33px 15px 26px;
}

.baner__btn > span {
  padding-left: 9px;
}

.baner__slider-dots {
  position: absolute;
  bottom: 60px;
  left: 59px;
}

.baner__slider-dots li {
  display: inline-block;
  padding: 0 5px;
}

.baner__slider-dots button {
  padding: 0;
  font-size: 0;
  margin: 0;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 210, 0, 0.3);
  transition:  all .4s;
  outline: none;
  cursor: pointer;
}

.baner__slider-dots .slick-active  button{
  background-color: #ffd200;
  outline: none;
}

.baner__item2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32.2%;
}

.header__baner-item {
  background-image: url(../img/header__baner1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  border-radius: 5px;
  padding: 35px 59px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header__baner-item > .baner__sale-icon {
  margin-bottom: 0;
}

.header__baner-item-bottom {
  background-image: url(../img/header__baner2.png);
}

.header__baner-title {
  color: #f8f8f8;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.44px;
}

.header__link-more {
  color: #f8f8f8;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 19.21px;
  padding-right: 9px;
  transition:  all .4s;
}

.header__link-more:hover {
  color: #ffd200;
}

.header__link-more span svg path {
  transition: all .4s;
}

.header__link-more:hover span svg path {
  fill: #ffd200;
}

.baner__item3 {
  width: 15.1%;
}

.header__vertical-baner {
  border-radius: 5px;
  background-image: url(../img/header__baner3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  padding: 48px 23px;
}

.header__vertical-baner .header__baner-title {
  margin-bottom:20px;
}
