.position-name {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 147.19%;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 20px;
}

.product-infolist {
  width: 55%;
  margin-bottom: 30px;
}

.infolist-wrapper {
  padding:0 80px;
  width: 100%;
  background: #F8F8F8;
  border-radius: 8px;
  margin-bottom: 10px;
}

.infolist-title  {
  padding: 15px 0;
  font-family: Roboto;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
}

.infolist__title {
  font-size: 14px;
  font-weight: 500;
}

.infilist-span {
  padding-right: 30px;
  position: relative;
  &::before {
    position: absolute;
    content: "+";
    left: -40px;
    font-size: 35px;
    font-weight:300;
    top: 50%;
    transform: translateY(-50%);

 }
}

.accordion__active {
  .infilist-span {
    &::before {
      content: "-";
      font-size: 75px;
      top: 35%;
      transform: translateY(-50%);

    }
  }
}

.infolist__text {
  color: rgba(17, 17, 17, 0.7);
  font-family: Roboto;
}


.infolist {
  width: 100%;
}

.infolist__table {
  padding: 0 0 25px 0;
}

.infolist__row {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #E0E0E0;
}

.infolist__coll {
  width: 22%;
  text-align: left;
}
