.rezults-sec {
  margin-bottom: 35px;
}

.rezults__top {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 30% 14% 14% 14% 14% 14%;
  padding: 30px 0 15px;
  border-bottom: 1px solid #E0E0E0;
}

.rezults__top_name {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
}

.rezults__row {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 27% 10% 21% 4% 23% 5% 10%;
  padding: 24px 0 20px;
  border-bottom: 1px solid #E0E0E0;
}

.rezults__row_coll {
  display: flex;
  align-items:center;
  justify-content: center;
  &:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &:last-child {
    justify-content: flex-end;
  }
}

.rezults__row_img {
  width: 100px;
}

.rezults__row_title {
  width: 60%;
  line-height: 137.19%;
  color: #111111;
}

.rezults__row_name {
  font-size: 14px;
}
